/* CSS Document */

/*#middle-right2{
width:740px;
min-height:558px;
margin:0px;
padding:0px;
border: #0033FF thin hidden;
}
#middle-right2 ul{
padding-left:0px;
margin-top:0px;
list-style:none;
}
#middle-right2 ul li{
width:724px;
height:40px;
border-bottom:#CCCCCC thin dashed;
font-size:14px;
line-height:40px;
padding-left:10px;

}

#middle-right2 ul li a{
text-decoration:none;
}

#middle-right2 ul li a::VISITED {
	color:#0000FF;
	
}
#middle-right2 ul li a:hover{
	color:#FF0000;
}
#middle-right3{
width:724px;
height:50px;
margin:4px 0px 0px 0px;
text-align:center;
padding:0px;
border:#FF00FF thin solid;
}
*/

